<div class="mt-4">
    <h3 style="text-align:center;">Post Menu Lunchs</h3>
    <form class="mt-4" method="POST" action="/lunch/{{lunchs._id}}?_method=PUT">
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="name">Tên món ăn</label>
                <input type="text" placeholder="Gọi Tên Món Ăn Không Được Quá 5 TỪ" class="form-control" value="{{lunchs.name}}" id="name"
                    name="name">
            </div>
            <div class="form-group col-lg-6">
                <label for="price">Price</label>
                <input type="number" placeholder="Gọi Tên Món Ăn Không Được Quá 5 TỪ" class="form-control" value="{{lunchs.price}}" id="price"
                    name="price">
            </div>
            <div class="form-group col-lg-6">
                <label for="description">Description</label>
                <input type="text" class="form-control" value="{{lunchs.description}}" id="description" name="description">
            </div>
            <div class="form-group col-lg-6">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" value="{{lunchs.slug}}" id="slug" name="slug">
            </div>
            <div class="form-group col-lg-6">
                <label for="image">Image</label>
                <input type="text" class="form-control"value="{{lunchs.image}}" id="image" name="image">
            </div>
        </div>
        <div class="wrapper" style="text-align: center">
            <button type="submit" class="btn btn-primary ">Update</button>
        </div>
    </form>
</div>
