<div class="mt-4">
    <div class="row">   
        <div class="col-lg-3" >
            <form action="/menu">
                <button class="custom-btn btn-1"><span>Xem Các Món Khác</span></button>
            </form>
        </div>
        <div class="col-lg-6" style="text-align:center;">
            <h2>{{listdishes.name}}</h2>
<<<<<<< HEAD
            <iframe width="760" height="315" src="http://img.youtube.com/vi/{{listdishes.videoId}}/sddefault.jpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="padding-left: 80px;" allowfullscreen></iframe>
=======
            
           <div class="img-wrapper">
                <img src="http://img.youtube.com/vi/{{listdishes.videoId}}/sddefault.jpg" alt="">
           </div>
>>>>>>> 9251c6b6f9df69907d18f53c983cfb0daf6b44f2
        </div>
        <div class="col-lg-3" style="margin-top:45px">
        <p>Description : {{listdishes.description}}</p>
        <p>Price : {{listdishes.price}}VNĐ</p>
        </div>
    </div>
<<<<<<< HEAD
    <div class="row" style="text-align: center;margin-top:20px">
        <div class="col-lg-4">
            <div class="menus d-flex ftco-animate">
                <div class="menu-img img" style="background-image: url({{listdishes.othermenu.desserts.image}});"></div>
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>{{listdishes.othermenu.desserts.name}}</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">{{listdishes.othermenu.desserts.price}}</span>
                        </div>
                    </div>
                    <p><span>{{listdishes.othermenu.desserts.description}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="menus d-flex ftco-animate">
                <div class="menu-img img" style="background-image: url({{listdishes.othermenu.dinner.image}});"></div>
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>{{listdishes.othermenu.dinner.name}}</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">{{listdishes.othermenu.dinner.price}}</span>
                        </div>
                    </div>
                    <p><span>{{listdishes.othermenu.dinner.description}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4"style="  width: 1px;
      background-color: white;
      height: 100%;
      float: left;
      border: 2px ridge white ;
      border-radius: 0px;
      padding-bottom:0px"
      >
            <div class="menus d-flex ftco-animate">
                <div class="menu-img img" style="background-image: url({{listdishes.othermenu.lunch.image}});"></div>
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>{{listdishes.othermenu.lunch.name}}</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">{{listdishes.othermenu.lunch.price}}</span>
                        </div>
                    </div>
                    <p><span>{{listdishes.othermenu.lunch.description}}</span></p>
                </div>
            </div>
        </div>
    </div>
=======
>>>>>>> 9251c6b6f9df69907d18f53c983cfb0daf6b44f2
</div>