<div class="mt-4">

    {{#each foods}}
    <div class="row">
      
        <div class="col-lg-3">
            <form action="/">
                <button class="custom-btn btn-5"><span>Quay Về Trang Chủ</span></button>
            </form>
            <ul>
                <li>Tên món ăn : {{this.breakfast.name}}</li>
                <li>Giá Tiền :{{this.breakfast.description}}</li>
            </ul>
            <button style="text-align: center;" type="submit" class="btn btn-primary">Chọn Món</button>
        </div>
        <div class="col-lg-9">
            <h2>{{this.breakfast.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{this.breakfast.videoId}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>{{this.breakfast.description}}</p>
        </div>
    </div>
    {{/each}}
</div>

